body {
  height: 100vh;
  background-image: url("https://developer.spotify.com/images/home/tile-1-alt-bg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*navigation bootstrapp inverse navbar */
.navbar{
  width: auto;
  position: relative;
}
.navbar .navbar-nav>li>a {
  color: #fff;
  font-size: 10px;
}
.toggle{
  font-size: 18px;
  color: #fff;
  position: absolute;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  visibility: hidden;
}

/*w3sch sidebar*/
.sidenav {
  height: 88%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;

}
.sidenav a, span {
  padding: 5px 8px 6px 16px;
  text-decoration: none;
  font-size: 10px;
  color: #fff;
  display: block;

}
.sidenav>a>i:hover, .sidenav>a>i:focus{
  line-height: inherit;
  border: none;
}
.sidenav-up>a>i:hover, .sidenav-up>a>i:focus, .sidenav-med>a:hover, .sidenav-med>a:focus, .sidenav-up>a:hover, .sidenav-up>a:focus,.sidenav-bott>a:hover, .sidenav-bott>a:focus, .nav>li>a:hover, .nav>li>a:focus, .toggle  {
  text-decoration: none;
  background-color: #eee;
  color: #797809;
}
.spot>i{
  font-size: 18px;
  color: #fff;
}
.sidenav-med{
  padding-top: 25px;
}
.sidenav-bottom{
  height: 57%;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}
.sidenav-bott{
  border-bottom: 1px solid #fff;

}
.sidenav-bottom-hidden{
  display: none;

}
.sidenav-up-hidden{
  display: none;

}
/*section centrale*/
.contents{
  margin-left: 150px;
}
.content{
  display: flex;
  flex-wrap: wrap;
  /*margin-left: 150px;*/
  justify-content: space-around;
}

.pic{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: conta;
}
.img-responsive{
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.h2{
  top: 15px;
}

/*footer ancora div;)*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12%;
  background-color: #292d2e;
  color: white;
  text-align: center;
  display: flex;
}
.disc{
  width: 20%;
  display: flex;
  padding: 10px;

}
.disc>p{
  margin-top: 15px;
  font-size: 10px;
}
.disc>span>i{
  margin-top: 13px
}
.player{
  width: 60%;

}
.band-up{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;

}
.band-up>i{
  margin: 10px;
  text-align: center;
}
.fa-pause-circle{
  font-size: 30px
}
.band-up>i.fa-random, .band-up>i.fa-step-backward, .band-up>i.fa-step-forward, .band-up>i.fa-sync-alt{
  margin-top: 20px;
}
.band{
  position: relative;
  padding-bottom: 10px;
}
hr{
  width: 60%;
  border-top: 2px solid #fff;
  margin-top: 10px;
}
/*.hro{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  top: 10px;
  display: inline-block;
}*/
.eqvol{
  display: flex;
  width: 20%;
  margin: 20px;
  justify-content: center;
  align-items: center;
}
.eqvol>i{
  margin: 1px 10px 1px;
}
.eqvol>span::after{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  top: 10px;
  display: inline-block;
}
.vol{

}

/*prova media query riuscita */
@media screen and (max-width: 767px) {
    .navbar-header>a>i {
    visibility: visible;
    color: #fff;
    }
  .pic{
    width: 100px;
    height: 100px;    }
  .disc>p{
    display: none;
    }
    .sidenav-bottom-hidden{
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 75%;
    }
  }/*@media (min-width: 768px)*/
@media screen and (max-width: 456px) {
  .navbar-header>a>i {
    visibility: visible;
    color: #fff;
    }
    .pic{
    width: 100px;
    height: 100px;
    }
    .sidenav{
      width: 80px;
    }
    .sidenav-med>a{
      visibility: hidden;
    }
    .sidenav-up-hidden{
      display: block;
      align-items: center;
    }
    .sidenav-up-hidden>a>i{
    margin-left: 10px;
    font-size: 12px;
    }
    .sidenav-up-hidden>.spot>i{
    font-size: 25px;
    }
    .sidenav-up{
      display: none;
    }
    .sidenav-bottom{
      display: none;
    }
    .contents{
      margin-left: 70px;
    }
    .sidenav-bottom-hidden{
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 53%;
    }
    .disc>p, .disc>span>i{
      display: none;
    }
    .contents>.p>.h2{
      font-size: 15px;
      text-align: center;
      color:#fff;
    }
    .player{
      margin-left: 10px;
    }
    .band-up{
      width: 100%;
      height: 50%;
      display: flex;

    }
    .band-up>i{
     margin: 10px;
     text-align: center;
    }
    .fa-pause-circle{
      font-size: 30px
    }

    .eqvol{
      display: none;
    }

  }/*@media (min-width: 380px)*/
