body {
  height: 100vh;
  background-image: url("https://developer.spotify.com/images/home/tile-1-alt-bg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*navigation bootstrapp inverse navbar */
.navbar{
  width: auto;
  position: relative;
}
.navbar .navbar-nav>li>a {
  color: #fff;
  font-size: 10px;
}
.toggle{
  font-size: 18px;
  color: #fff;
  position: absolute;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  visibility: hidden;
}

/*w3sch sidebar*/
.sidenav {
  height: 88%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;

}
.sidenav a, span {
  padding: 5px 8px 6px 16px;
  text-decoration: none;
  font-size: 10px;
  color: #fff;
  display: block;

}
.sidenav>a>i:hover, .sidenav>a>i:focus{
  line-height: inherit;
  border: none;
}
.sidenav-up>a>i:hover, .sidenav-up>a>i:focus, .sidenav-med>a:hover, .sidenav-med>a:focus, .sidenav-up>a:hover, .sidenav-up>a:focus,.sidenav-bott>a:hover, .sidenav-bott>a:focus, .nav>li>a:hover, .nav>li>a:focus, .toggle  {
  text-decoration: none;
  background-color: #eee;
  color: #797809;
}
.spot>i{
  font-size: 18px;
  color: #fff;
}
.sidenav-med{
  padding-top: 25px;
}
.sidenav-bottom{
  height: 60%;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}
.sidenav-bott{
  border-bottom: 2px solid #fff;

}
/*section centrale*/
.contents{
  margin-left: 150px;
}
.content{
  display: flex;
  flex-wrap: wrap;
  /*margin-left: 150px;*/
  justify-content: space-around;
}

.pic{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: contain;
}
.h2{
  top: 15px;
}

/*footer ancora div;)*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12%;
  background-color: #292d2e;
  color: white;
  text-align: center;
  display: flex;
}



/*prova media query riuscita */
@media screen and (max-width: 768px) {
  .navbar-header>a>i {
    visibility: visible;
    color: #fff;
    }
    .pic{
    width: 100px;
    height: 100px;
    }
  }/*@media (min-width: 768px)*/
@media screen and (max-width: 320px) {
  .navbar-header>a>i {
    visibility: visible;
    color: #fff;
    }
    .pic{
    width: 100px;
    height: 100px;
    }
  }/*@media (min-width: 190px)*/
